<a href="https://colab.research.google.com/github/d-mcfarland/2022Spring/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import io
import os
import sys
from logging import error
import pandas as pd
from pandas import errors
import numpy as np
import datetime 

from google.colab import drive
drive.mount('/gdrive')

drive.mount("/gdrive", force_remount=True)

# show all rows & columns (wrap, truncate, see all, view)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)

Mounted at /gdrive
Mounted at /gdrive

#Read data files

In [3]:
'''
Leading indicators:
https://fred.stlouisfed.org/series/DJIA (Dow Jones Industrial Average)
https://fred.stlouisfed.org/series/RSXFS (Retail Sales)
https://fred.stlouisfed.org/series/HOUST (Private Housing Starts)
https://fred.stlouisfed.org/series/PIEAMP01USM661N (PPI)
https://fred.stlouisfed.org/series/IABSNNCB (Nonfinancial Corporate Business; Inventories Excluding IVA, Current Cost Basis)
https://fred.stlouisfed.org/series/QBPBSTASIAS (intangibles)

Lagging indicators:
https://fred.stlouisfed.org/series/CPALTT01USM657N (GDP)
https://fred.stlouisfed.org/series/UNRATE (unemployment)
https://fred.stlouisfed.org/series/INTDSRUSM193N (interest rate)
https://fred.stlouisfed.org/series/A053RC1Q027SBEA
(National income: Corporate profits before tax without IVA and CCAdj)
https://fred.stlouisfed.org/series/A4102C1Q027SBEA
(Compensation paid to employees)
'''
import requests

#myurl=(r'https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/A053RC1Q027SBEA.csv')

#df_djia=pd.read_csv(myurl,index_col=0,parse_dates=[0])

df_djia=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/DJIA.csv')
df_housing_start=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/HOUST.csv')
df_corp_inc = pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/A053RC1Q027SBEA.csv')
df_national_inc=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/A4102C1Q027SBEA.csv')
df_retail_sales=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/RSXFS.csv')
df_intangibles=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/QBPBSTASIAS.csv')
df_gdp=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/CPALTT01USM657N.csv')
df_unemp=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/UNRATE.csv')
df_ppi=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/PIEAMP01USM661N.csv')
df_inventories=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/IABSNNCB.csv')
df_int_rate=pd.read_csv('https://raw.githubusercontent.com/d-mcfarland/2022Spring/main/INTDSRUSM193N.csv')

dfs={'df_djia':df_djia,
    'df_housing_start':df_housing_start,
    'df_corp_inc':df_corp_inc,
    'df_national_inc':df_national_inc,
    'df_retail_sales':df_retail_sales,
    'df_intangibles':df_intangibles,
    'df_gdp':df_gdp,
    'df_inventories':df_inventories,
    'df_unemp':df_unemp,
    'df_int_rate':df_int_rate,
    'df_ppi':df_ppi}

for k,df in dfs.items():
    df.reset_index(drop=False, inplace=True)
    df['source']=k
    #df['date']= datetime.date.fromisoformat(str(df['DATE']))
    #[df['date']=d for d in pd.to_datetime(df['DATE'])]
    print(k, '\n', df.info(verbose=True), df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2609 non-null   int64
 1   DATE    2609 non-null   object
 2   DJIA    2609 non-null   object
 3   source  2609 non-null   object
dtypes: int64(1), object(3)
memory usage: 81.7+ KB
df_djia
 None    index        DATE      DJIA   source
0      0  2012-01-13  12422.06  df_djia
1      1  2012-01-16         .  df_djia
2      2  2012-01-17  12482.07  df_djia
3      3  2012-01-18  12578.95  df_djia
4      4  2012-01-19  12623.98  df_djia
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   121 non-null    int64
 1   DATE    121 non-null    object
 2   HOUST   121 non-null    float64
 3   source  121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
df_housing_start
 None    index        DATE  HOUST            source
0      0  2011-11-01  711.0  df_housing_start
1      1  2011-12-01  694.0  df_housing_start
2      2  2012-01-01  723.0  df_housing_start
3      3  2012-02-01  704.0  df_housing_start
4      4  2012-03-01  695.0  df_housing_start
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            41 non-null     int64
 1   DATE             41 non-null     object
 2   A053RC1Q027SBEA  41 non-null     float64
 3   source           41 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4+ KB
df_corp_inc
 None    index        DATE  A053RC1Q027SBEA       source
0      0  2011-07-01         1795.846  df_corp_inc
1      1  2011-10-01         1913.534  df_corp_inc
2      2  2012-01-01         2199.909  df_corp_inc
3      3  2012-04-01         2135.981  df_corp_inc
4      4  2012-07-01         2160.051  df_corp_inc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            41 non-null     int64
 1   DATE             41 non-null     object
 2   A4102C1Q027SBEA  41 non-null     float64
 3   source           41 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4+ KB
df_national_inc
 None    index        DATE  A4102C1Q027SBEA           source
0      0  2011-07-01         6689.659  df_national_inc
1      1  2011-10-01         6645.660  df_national_inc
2      2  2012-01-01         6844.206  df_national_inc
3      3  2012-04-01         6884.319  df_national_inc
4      4  2012-07-01         6914.235  df_national_inc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   121 non-null    int64
 1   DATE    121 non-null    object
 2   RSXFS   121 non-null    int64
 3   source  121 non-null    object
dtypes: int64(2), object(2)
memory usage: 3.9+ KB
df_retail_sales
 None    index        DATE   RSXFS           source
0      0  2011-11-01  349304  df_retail_sales
1      1  2011-12-01  349744  df_retail_sales
2      2  2012-01-01  352862  df_retail_sales
3      3  2012-02-01  357379  df_retail_sales
4      4  2012-03-01  358719  df_retail_sales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        41 non-null     int64
 1   DATE         41 non-null     object
 2   QBPBSTASIAS  41 non-null     float64
 3   source       41 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4+ KB
df_intangibles
 None    index        DATE  QBPBSTASIAS          source
0      0  2011-07-01   372713.467  df_intangibles
1      1  2011-10-01   368005.368  df_intangibles
2      2  2012-01-01   371393.382  df_intangibles
3      3  2012-04-01   366714.756  df_intangibles
4      4  2012-07-01   364142.455  df_intangibles
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            121 non-null    int64
 1   DATE             121 non-null    object
 2   CPALTT01USM657N  121 non-null    float64
 3   source           121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
df_gdp
 None    index        DATE  CPALTT01USM657N  source
0      0  2011-10-01        -0.206268  df_gdp
1      1  2011-11-01        -0.084356  df_gdp
2      2  2011-12-01        -0.246652  df_gdp
3      3  2012-01-01         0.440019  df_gdp
4      4  2012-02-01         0.440297  df_gdp
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     41 non-null     int64
 1   DATE      41 non-null     object
 2   IABSNNCB  41 non-null     float64
 3   source    41 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4+ KB
df_inventories
 None    index        DATE  IABSNNCB          source
0      0  2011-07-01  1988.498  df_inventories
1      1  2011-10-01  2000.822  df_inventories
2      2  2012-01-01  2037.771  df_inventories
3      3  2012-04-01  2036.899  df_inventories
4      4  2012-07-01  2086.958  df_inventories
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   121 non-null    int64
 1   DATE    121 non-null    object
 2   UNRATE  121 non-null    float64
 3   source  121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
df_unemp
 None    index        DATE  UNRATE    source
0      0  2011-12-01     8.5  df_unemp
1      1  2012-01-01     8.3  df_unemp
2      2  2012-02-01     8.3  df_unemp
3      3  2012-03-01     8.2  df_unemp
4      4  2012-04-01     8.2  df_unemp
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          121 non-null    int64
 1   DATE           121 non-null    object
 2   INTDSRUSM193N  121 non-null    float64
 3   source         121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
df_int_rate
 None    index        DATE  INTDSRUSM193N       source
0      0  2011-08-01           0.75  df_int_rate
1      1  2011-09-01           0.75  df_int_rate
2      2  2011-10-01           0.75  df_int_rate
3      3  2011-11-01           0.75  df_int_rate
4      4  2011-12-01           0.75  df_int_rate
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            121 non-null    int64
 1   DATE             121 non-null    object
 2   PIEAMP01USM661N  121 non-null    float64
 3   source           121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
df_ppi
 None    index        DATE  PIEAMP01USM661N  source
0      0  2011-10-01       102.506063  df_ppi
1      1  2011-11-01       102.721638  df_ppi
2      2  2011-12-01       102.182700  df_ppi
3      3  2012-01-01       102.991108  df_ppi
4      4  2012-02-01       103.530046  df_ppi

In [4]:
print(df_ppi.info(verbose=True),df_ppi['DATE'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            121 non-null    int64
 1   DATE             121 non-null    object
 2   PIEAMP01USM661N  121 non-null    float64
 3   source           121 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB
None 0      2011-10-01
1      2011-11-01
2      2011-12-01
3      2012-01-01
4      2012-02-01
5      2012-03-01
6      2012-04-01
7      2012-05-01
8      2012-06-01
9      2012-07-01
10     2012-08-01
11     2012-09-01
12     2012-10-01
13     2012-11-01
14     2012-12-01
15     2013-01-01
16     2013-02-01
17     2013-03-01
18     2013-04-01
19     2013-05-01
20     2013-06-01
21     2013-07-01
22     2013-08-01
23     2013-09-01
24     2013-10-01
25     2013-11-01
26     2013-12-01
27     2014-01-01
28     2014-02-01
29     2014-03-01
30     2014-04-01
31     2014-05-01
32     2014-06-01
33     2014-07-01
34     2014-08-01
35     2014-09-01
36     2014-10-01
37     2014-11-01
38     2014-12-01
39     2015-01-01
40     2015-02-01
41     2015-03-01
42     2015-04-01
43     2015-05-01
44     2015-06-01
45     2015-07-01
46     2015-08-01
47     2015-09-01
48     2015-10-01
49     2015-11-01
50     2015-12-01
51     2016-01-01
52     2016-02-01
53     2016-03-01
54     2016-04-01
55     2016-05-01
56     2016-06-01
57     2016-07-01
58     2016-08-01
59     2016-09-01
60     2016-10-01
61     2016-11-01
62     2016-12-01
63     2017-01-01
64     2017-02-01
65     2017-03-01
66     2017-04-01
67     2017-05-01
68     2017-06-01
69     2017-07-01
70     2017-08-01
71     2017-09-01
72     2017-10-01
73     2017-11-01
74     2017-12-01
75     2018-01-01
76     2018-02-01
77     2018-03-01
78     2018-04-01
79     2018-05-01
80     2018-06-01
81     2018-07-01
82     2018-08-01
83     2018-09-01
84     2018-10-01
85     2018-11-01
86     2018-12-01
87     2019-01-01
88     2019-02-01
89     2019-03-01
90     2019-04-01
91     2019-05-01
92     2019-06-01
93     2019-07-01
94     2019-08-01
95     2019-09-01
96     2019-10-01
97     2019-11-01
98     2019-12-01
99     2020-01-01
100    2020-02-01
101    2020-03-01
102    2020-04-01
103    2020-05-01
104    2020-06-01
105    2020-07-01
106    2020-08-01
107    2020-09-01
108    2020-10-01
109    2020-11-01
110    2020-12-01
111    2021-01-01
112    2021-02-01
113    2021-03-01
114    2021-04-01
115    2021-05-01
116    2021-06-01
117    2021-07-01
118    2021-08-01
119    2021-09-01
120    2021-10-01
Name: DATE, dtype: object